/******************************************************************************/
/* color f6a7ba */
a:hover{color:#f6a7ba;}
.tnav{border-top:5px solid #f6a7ba;background-color:#f6a7ba;}
.tnav li a{border:1px solid #f6a7ba;color:#333;}
.tnav li a:hover{background-color:#f5fbf1;}

.subbannar{background:url('./img/subbannar.jpg') no-repeat;
	background-size:100% 180px; -moz-background-size:100% 180px;}

.bigbox .header .title,.bigbox .header .more a{color:#333;}
.content .file dd:before{color:#999;}
.footer dd:before{color:#666;}
.footer dt{color:#222;}
.footer a, .copyright a{color:#333;}
.footer a:hover, .copyright a:hover{color:#fe5f55;}
@media screen and (max-width:767px) {
	.tnav li a:hover{color:#f6a7ba;}
}

.bigbox .header{background-color:#d2f3e0;color:#333;}
.fd_new input[type="submit"]{background-color:#d2f3e0;color:#333;}
.footer{background-color:#f5fbf1;}
.copyright{background-color:#feb9c8;}
