/******************************************************************************/
/* color green 45969b */
a:hover{color:#45969b;}
.tnav{border-top:5px solid #45969b;background-color:#45969b;}
.tnav li a{border:1px solid #45969b;}
.tnav li a:hover{color:#45969b;background-color:#f0e3c4;}

.subbannar{background:url('./img/subbannar.jpg') no-repeat;
	background-size:100% 180px; -moz-background-size:100% 180px;}

.bigbox .header .title,.bigbox .header .more a{color:#333;}
.content .file dd:before{color:#999;}
.footer dd:before{color:#666;}
.footer dt{color:#222;}
.footer a, .copyright a{color:#333;}
.footer a:hover, .copyright a:hover{color:#45969b;}
@media screen and (max-width:767px) {
	.tnav li a:hover{color:#45969b;}
}

.bigbox .header{background-color:#50b6bb;color:#333;}
.fd_new input[type="submit"]{background-color:#50b6bb;color:#333;}
.footer{background-color:#f0e3c4;}
.copyright{background-color:#daa592;}
