{include header}


<!-- MainBody -->
<div id="MainBody">

<!-- article list -->
<div class="bigbox bigwidth">
	<div class="header">
		<div class='title'><h3>ÍøÓÑÁôÑÔ</h3></div>
	</div>

{if $gitem_id}
	<div class="fd_list">
		<div class='fdbox'>
			<div class='fdtitle'>
				<span class='fdname'>[ÍøÓÑ]£º{$GUESTBK_INFO['name']}</span>
				<span class='fdip'>({$GUESTBK_INFO['ipaddr']})</span>
			</div>
			<div class='fdnr'>{$GUESTBK_INFO['askcontent']}</div>
			<div class='fdtime'>[ {$GUESTBK_INFO['asktime']} ]</div>
		</div>
		<div class='fdbox'>
			<div class='fdtitle'>´ð¸´£º</div>
			<div class='fdnr'>{$GUESTBK_INFO['anscontent']}</div>
			<div class='fdtime'>[ {$GUESTBK_INFO['anstime']} ]</div>
		</div>
	</div>
{else}
	<div class="list">
		<ul>
	{eval $itn=1}
	{list $GUESTBK_LIST $r}
			<li>
				<a href='{$r['url']}' target='_blank'>
				<div style='float:left;'>[ÍøÓÑ]£º</div>
			    <div class='title'>{$r['content']}</div>
			    <div class='time'>{$r['time']}</div>
				</a>
			</li>
	{/list}
		</ul>
		<div class='clear'></div>
	</div>

	{if !empty($navigation)}
	<div id='pagenav'>
	{$navigation}
	</div>
	{/if}
{/if}

	<div class="clear"></div>
</div>
<!-- end article list -->

<div class="clear"></div>
</div>
<!-- end MainBody -->


{include footer}
